In [2]:
import numpy as np
import pandas as pd

In [3]:
d = pd.read_excel("data/NanoNASCseq_Summary.xlsx")
# d = d[np.isnan(d["ActD"])]
d = d[d["UMIs"] >= 5000]
df1 = d[d["Group"] == "K562"]
df2 = d[d["Group"] == "mESC"]
df3 = d[d["Group"] == "MouseBlastocyst"]
print("K562:", len(df1))
print("mESC:", len(df2))
print("Blastocyst:", len(df3))

for df in [df1, df2, df3]:
    print()
    print("-" * 40)
    print("4sU\tTime\tCells\tActD(-)\tActD(+)")
    print("-" * 40)
    for s4u, d1 in df.groupby(by="s4U"):
        for t, d2 in d1.groupby(by="Time"):
            n1 = sum(np.isnan(d2["ActD"]))
            n2 = sum(~np.isnan(d2["ActD"]))
            print(s4u, t, len(d2), n1, n2, sep="\t")

K562: 878
mESC: 255
Blastocyst: 2661

----------------------------------------
4sU	Time	Cells	ActD(-)	ActD(+)
----------------------------------------
0	3.0	339	190	149
50	0.25	32	32	0
50	0.5	51	51	0
50	1.0	41	41	0
50	2.0	44	44	0
50	3.0	301	179	122
100	3.0	19	19	0
200	3.0	11	11	0
400	3.0	17	17	0
500	3.0	23	23	0

----------------------------------------
4sU	Time	Cells	ActD(-)	ActD(+)
----------------------------------------
0	3.0	64	64	0
50	3.0	79	79	0
400	3.0	112	112	0

----------------------------------------
4sU	Time	Cells	ActD(-)	ActD(+)
----------------------------------------
0	3.0	158	143	15
100	3.0	10	10	0
200	3.0	42	42	0
300	3.0	34	34	0
400	3.0	2343	2245	98
500	3.0	41	41	0
600	3.0	33	33	0